$font-path: "../assets";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300;400;500;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

@font-face {
    font-family: "industrial";
    src: url("#{$font-path}/IndustrialSans-Light.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}