@mixin daySquare ($backgroundColor){
    width: 12px;
    height: 12px;
    margin: 2px;
    border-radius: 3px;
    background-color: $backgroundColor;
    border: 1px solid rgb(41, 39, 39);
}


body{
    background-color: rgb(43, 44, 44);
    color: rgb(221, 226, 231);
}

.container-register{
    border: 1px solid rgb(78, 76, 76) ;
    width: 936px;
    padding: 5px;
    border-radius: 5px;
    height: 126px;
    overflow: hidden; 
    .grid-register{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(52,1fr);
        grid-template-rows: repeat(7,1fr);
        gap:0px;
        .daySquare{
            // @include daySquare(rgb(93, 94, 93));
            @include daySquare(rgb(68, 70, 68));
        }
        .daySquare-lipolysis{
            @include daySquare(rgb(2, 168, 71));
        }
        .daySquare-autophagy{
            @include daySquare(rgb(7, 138, 226));
        }
    }
}

