@use './sass/fonts.scss';
@use './components/stopwatch/stopwatch';
@use './components/yearGrid/yearGrid';
@use './components/Navbar/navbar.scss';


body{
    background-color: #2b2c2c;
    color: #e9ecf0;
}

h2{
    font-family: "industrial";
}



